html {
  font-size: 62.5%;
}
body {
  font-size: 1rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@scope (.header) {
  :scope {
    width: 162rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4.3rem auto;
  }
}

@scope (.btn-book) {
  :scope {
    padding-block: 1.75rem;
    width: 20rem;
    border-radius: 10rem;
    background: #101010;
    color: #fff;
    font-size: 2rem;
  }
}

@scope (.logo) {
  :scope {
    color: #000;
    font-size: 2.2rem;
    font-weight: 900;
    text-transform: uppercase;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  img {
    width: 4.5rem;
    height: 4.5rem;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  }
}

@scope (.gnb) {
  :scope {
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.5rem;
  }
  li {
    list-style: none;
  }
  a {
    color: #000;
    font-size: 2rem;
    text-decoration: none;
  }
}
